body {
  margin: 0;
  background: black;
  color: white;
  text-align: center;
  font-family: Arial;
  overflow: hidden;
}

h1 {
  margin-top: 20px;
}

.game {
  width: 100%;
  height: 300px;
  border-bottom: 4px solid white;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

#player {
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 80px;
  height: 80px;
}

#enemy {
  position: absolute;
  bottom: 0;
  right: -100px;
  width: 80px;
  height: 80px;
  animation: enemyMove 2s linear infinite;
}

#player img,
#enemy img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.jump {
  animation: jump 0.7s;
}

@keyframes jump {
  0% { bottom: 0; }
  50% { bottom: 170px; }
  100% { bottom: 0; }
}

@keyframes enemyMove {
  from { right: -100px; }
  to { right: 100%; }
}

button {
  margin-top: 30px;
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background: #00ff99;
}

#enemy img {
  animation: shake 0.2s infinite;
}

@keyframes shake {
  0% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  100% { transform: rotate(2deg); }
}
